/* Standarts */
:root {
	font-size: 62.5%; /* To make 1 rem = 10 px */
	--fw-300: 300;
	--fw-600: 600;
	--fw-800: 800;

	--fs-300: 1rem;
	--fs-600: 1.2rem;
	--fs-800: 2rem;

	--color-blue: #04abe4;
	--color-box1: #66cced;
	--color-box2: #0d7ec2;
	--color-box3: #203464;
	--color-date: #0d7ec2;
	--color-light-gray: #ccc;
	--color-darker-gray: #807777;
}

* {
	margin: 0;
	padding: 0;
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/*

CSS STRUCTURE

*/

body {
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	max-width: 110rem;
	margin-inline: auto;
}

footer {
	background-color: black;
}

/*

CSS ELEMENTS

*/

/* HEADER */

.header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-block: 2.5rem;
}

.header img {
	margin-right: auto;
}

ul {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	gap: 1rem;
}

ul li {
	list-style: none;
	text-transform: uppercase;
	font-size: var(--fs-800);
	font-weight: var(--fw-300);
}

ul li a {
	text-decoration: none;
	color: black;
	padding: 1rem;
}

ul li:hover {
	background-color: var(--color-blue);
}

.menu-square{
	background-color: transparent;
	width: 5rem;
	height: 5rem;
	padding: .2rem;
	margin-right: 4rem;
	display: none;
	flex-direction: column;
	justify-content: space-evenly;
}

.line{
	background-color: var(--color-darker-gray);
	height: .2rem;
}

/* BANNER AREA */

.banner-main {
	background-image: url(img/img1.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: calc(100vh - 94px);
	color: white;
}

.flex.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.banner-main h1 {
	margin-top: 20rem;
	font-size: 5rem;
	font-weight: var(--fw-800);
	line-height: 1.2;
	padding-inline: .5rem;
}

.banner-main h4 {
	margin-top: 1rem;
	font-size: var(--fs-800);
	font-weight: var(--fw-800);
	padding-inline: .5rem;
}

.boxes {
	margin-top: auto;
	display: flex;
	flex-wrap: wrap;
	margin-top: 5rem;
}

.boxes > * {
	flex: 1;
}

.box {
	padding-inline: 1.25rem;
	padding-block: 2rem 0rem;
	min-width: 300px;
	color: white;
}

.box h6 {
	font-size: 2.5rem;
	font-weight: var(--fw-800);
	margin-bottom: 2rem;
}

.box p {
	font-size: 1.5rem;
	font-weight: var(--fw-600);
	line-height: 1.5;
}

.box:first-of-type,
.box:nth-of-type(4) {
	background-color: var(--color-box1);
}

.box:nth-of-type(2),
.box:nth-of-type(5) {
	background-color: var(--color-box2);
}

.box:nth-of-type(3),
.box:nth-of-type(6) {
	background-color: var(--color-box3);
}

.box a {
	display: block;
	padding: 1.5rem;
	max-width: max-content;
	margin-top: 5rem;
	border: 1px solid white;
	font-size: var(--fs-600);
	font-weight: var(--fw-600);
	text-decoration: none;
	text-align: center;
	color: white;
	margin-bottom: 2rem;
}

.box a:hover {
	background-color: white;
	color: rgb(112, 112, 243);
}

.box .hours {
	display: flex;
	justify-content: flex-end;
	border-bottom: 1px solid white;
	margin-bottom: 1.5rem;
}

.box .hours p,
.box .hours h6 {
	font-size: 1.5rem;
	margin: 0;
	padding-bottom: 1rem;
}

.box .hours p {
	margin-left: auto;
}

/* NEWS AREA */

/* RIGHT AREA */

.info-area {
	display: flex;
}

.right-area {
	flex: 1;
	padding-inline: 1rem;
}

.left-area {
	flex: 2;
	padding-inline: 1rem;
}

.departaments-content {
	max-width: 333px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 3rem;
}

.square {
	height: 15rem;
	width: 15rem;
	background-color: var(--color-blue);
}

.bar {
	background-color: var(--color-blue);
	width: 6rem;
	height: 0.3rem;
	margin-bottom: 2rem;
}

.info-area h2 {
	font-size: 2.5rem;
	margin-bottom: 0.5rem;
	margin-top: 3rem;
}

.info-area h4,
.appointment-contact {
	font-size: 1.6rem;
	font-weight: 400;
}

.info-area h4 {
	color: var(--color-light-gray);
}

.appointment-contact {
	border-top: 1px solid var(--color-light-gray);
	padding-block: 1rem;
}

.appointment-contact:first-of-type {
	margin-top: 2rem;
}

.appointment-contact:last-of-type {
	border-bottom: 1px solid var(--color-light-gray);
}

.appointment-contact a {
	text-decoration: none;
	color: var(--color-blue);
}

.appointment-contact a:hover {
	text-decoration: underline;
}

/* LEFT AREA */

.news-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 3rem;
}

.news-area > * {
	max-width: 33rem;
}

.status {
	display: flex;
	margin-bottom: 3rem;
}

.news .date,
.news .notifications {
	font-size: var(--fs-600);
	padding: 1rem;
	color: white;
}

.news .date {
	padding: 1rem;
	background-color: var(--color-box2);
}

.date::after {
	content: "";
	position: absolute;
	margin-top: 10px;
	display: block;

	border-left: 20px solid #0d7ec2;
	border-bottom: 20px solid transparent;
	border-right: 20px solid transparent;
}

.news .notifications {
	margin-left: 0.5rem;
	background-color: var(--color-blue);
}

.news h2 {
	font-size: var(--fs-800);
	font-weight: var(--fw-800);
}

.news p {
	font-size: var(--fs-600);
	font-weight: var(--fw-600);
}

/* FOOTER AREA */

.footer .boxes .box h6 {
	margin-bottom: 0;
}

.footer .boxes .box {
	padding-block: 1rem;
}

.box p {
	font-weight: var(--fw-600);
	font-size: 1.5rem;
	margin-top: 2rem;
}

.box p a {
	padding: 0.5rem 1rem;
	margin-left: 2rem;
	text-decoration: none;
	margin: 0;
	margin-top: 1rem;
}

.box p a:hover {
	background-color: white;
}

.division {
	display: flex;
	flex-wrap: wrap;
}

.division > * {
	flex: 1;
	min-width: 30rem;
	padding-inline: 2rem;
}

.left-division h2,
.mid-division h2,
.right-division h2 {
	color: var(--color-light-gray);
	font-size: 2.5rem;
	margin-bottom: 0.5rem;
	margin-top: 3rem;
}

.left-division p,
.right-division p {
	color: var(--color-darker-gray);
	font-size: 1.5rem;
	font-weight: var(--fw-300);
}

.left-division p:nth-child(4) {
	margin-top: 2rem;
}

.med-info {
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
}

.med-info p:first-child {
	margin-right: auto;
}

.med-info a {
	text-decoration: none;
	color: white;
}

.med-info a:hover {
	text-decoration: underline;
}

.post-box,
.tweet-box {
	margin-top: 1rem;
}

.post-box p,
.post-box a,
.tweet-box p,
.tweet-box a {
	color: white;
	font-size: 1.5rem;
}

.post-box a,
.tweet-box a {
	color: var(--color-blue);
	text-decoration: none;
}

.post-box a:hover,
.tweet-box a:hover {
	text-decoration: underline;
}

.post-box p::before,
.tweet-box p::before {
	content: "→";
	margin-right: 1rem;
}

.copyright {
	text-align: left;
	color: var(--color-darker-gray);
	font-size: var(--fs-300);
	font-weight: var(--fw-300);
	padding-top: 1rem;
	border-top: 1px solid var(--color-light-gray);
	margin-top: 2rem;
	padding-left: 1rem;
}

/* 

RESPONSIVE LAYOUT 

*/

/* TABLET */

@media (width <= 800px) {
	ul li {
		display: none;
	}

	.header img {
		margin-left: 4rem;
	}

	.menu-square{
		display: flex;
	}

}

/* MOBILE */

@media (width <= 450px) {

	.banner-main{
		background-position: 55% bottom;
	}

	.info-area {
		flex-direction: column;
		align-items: center;
	}

	.departaments-content{
		margin-inline: auto;
	}

	.menu-square {
		margin-right: 2rem;
	}

	.header img{
		margin-left: 2rem;
	}
}